html, body {
    background-color: #a4a4a4;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    flex-grow: 1;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.big_box{
    display: flex;
    flex-direction: column;
    background-color: #a4a4a4;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.row_box{
    display: flex;
    background-color: white;
    flex-direction: row;
    height: 500px;
    width: 70%;
}

.row_box_main{
    display: flex;
    background-color: white;
    width: 70%;
}

.small_box{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    font-size: 14px;
    margin-left: 40px;
    width:35%;
}

.small_box2{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    margin-right: 40px;
    font-size: 14px;
    width:35%;
}

.long_box{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-right: 40px;
    width:65%;
}

.long_box2{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content:center;
    white-space: nowrap;
    margin-left: 40px;
    width:65%;
}

.last{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 60px;
    flex-grow: 1;
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

#choropleth_map{
    top: 0px;
}

#line_chart {
    top: 0px;
}

#bar_chart {
    top: 0px;
}